<div class="container">
  <h3>Modifier Produit</h3>
  <form [formGroup]="productForm" (ngSubmit)="onModifier()">
    <div>
      <input
        class="form-control"
        type="number"
        formControlName="id"
        style="display: 'none'"
      />
    </div>
    <div>
      <label>Prix du Produit </label>
      <input class="form-control" type="number" formControlName="prix" />
    </div>
    <div>
      <label>Image du Produit </label>
      <input class="form-control" type="text" formControlName="img" />
    </div>
    <div>
      <label>Description du Produit </label>
      <input class="form-control" type="text" formControlName="description" />
    </div>
    <div>
      <label>Referance du Produit </label>
      <input class="form-control" type="text" formControlName="reference" />
    </div>
    <div>
      <label>Disponibilte du Produit </label>
      <input class="form-control" type="text" formControlName="dispo" />
    </div>
    <div>
      <label>Marque du Produit </label>
      <input class="form-control" type="text" formControlName="marque" />
    </div>

    <input type="submit" class="btn btn-success" value="Modifier" />
    <input
      type="button"
      class="btn btn-danger"
      value="Vider"
      (click)="onVider()"
    />
  </form>
</div>
