<app-navbar></app-navbar>
<div class="row">
  <div class="col-8">
    <img src="assets/images/makeup.jpg" width="800px" height="500px" />
  </div>
  <div class="col-4">
    <h1>About YOURBEAUTY</h1>
    YourBeauty's heart beats with boldness,edge, energy & freedom, Its secret
    lies in being "The Ultimate Beauty Destination," offering a selection of
    products as incredible as theyare cutting-edge. They are accompanied by a
    taste for freedom, a sense of enjoyment and the desire to offer all the
    beauty the world. This strong, different and unique concept is
    revolutionizing beauty every day, every minute and every second.
  </div>
</div>
