<app-navbar></app-navbar>
<div
  class="bg-image"
  style="
    background-image: url('https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg?w=360');
    height: 100vh;
  "
>
  <ul class="list-group">
    <li
      *ngFor="let produit of panier; let i = index"
      class="list-group-item list-group-item-secondary"
    >
      <img [src]="produit.img" id="c1" />

      Referance : {{ produit.reference }} La Marque : {{ produit.marque }} Prix:
      {{ produit.prix | currency }}
      <button class="btn btn-outline-dark" (click)="supprimerProduit(i)">
        <i class="fa-solid fa-xmark"></i>
        Supprimer
      </button>
    </li>
  </ul>
</div>
