<app-navbar></app-navbar>

<h1>Nos Produits<i class="fa-solid fa-bars"></i></h1>
<div>
  <input
    [(ngModel)]="mot"
    class="form-control mr-sm-2"
    style="width: 170px; display: inline"
    type="search"
    placeholder="Marque"
    aria-label="Search"
  />
  <button
    (click)="filterMarque()"
    class="btn btn-outline-success my-2 my-sm-0"
    type="submit"
  >
    Search
  </button>
</div>
<div>
  <input
    [(ngModel)]="prix"
    class="form-control mr-sm-2"
    style="width: 170px; display: inline"
    type="search"
    placeholder="Prix"
    aria-label="Search"
  />
  <button
    (click)="filterPrix()"
    class="btn btn-outline-success my-2 my-sm-0"
    type="submit"
  >
    Search
  </button>
</div>
<div class="container mt-4 mb-4">
  <div class="row">
    <div *ngFor="let produit of produitsAffiches" class="col-lg-3">
      <img [src]="produit.img" id="c1" />

      {{ produit.description | uppercase }}<br />
      Le Prix :{{ produit.prix | currency }} <br />

      <ng-container *ngIf="produit.dispo"> En Stock</ng-container
      ><ng-container *ngIf="produit.dispo === false"> Hors Stock </ng-container
      ><br />

      <a
        class="btn btn-outline-success"
        [routerLink]="['/selectedproduit', produit.id]"
        ><i class="fa-solid fa-info"></i> Détail</a
      >
      <button class="btn btn-outline-secondary" (click)="ajoutPanier(produit)">
        <i class="fa-solid fa-cart-plus"></i> J'ACHETE
      </button>
    </div>
  </div>
</div>
