<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home" routerLinkActive="active">
      <i class="fa-solid fa-house"></i> Home</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/produit" routerLinkActive="active">
      <i class="fa-brands fa-product-hunt"></i> produit
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/panier" routerLinkActive="active">
      <i class="fa-solid fa-cart-plus"></i> Panier
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/yourbeauty" routerLinkActive="active">
      <i class="fa-solid fa-award"></i> A Propos</a
    >
  </li>
</ul>
